*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: fit-content(150px) auto;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.4s;
    user-select: none;
}

.titleBar{
    justify-self: start;
    margin: 10px;
    padding-left: 10px;
    width: 100%;
    font-size: xx-large;
}

.collection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: repeat(auto-fit,fit-content(400px));
    gap: 10px;
    align-items: start;
    justify-items: center;
}

.addBook {
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #0900E4;
    color: aliceblue;
    margin: 35px;
    transition: transform 0.8s;
}

.addBook:hover {
    background-color: #0700A7;
    cursor: grab;
    transform: rotate(45deg);
    color: #B90000;
}
.collection > div:not(.addBook) {
    height: 400px;
}

form{
    right: 0;
    bottom: 16vh;
    display: none;
    position: fixed;
    background-color: #588EB9;
    border-radius: 10px;
    transition: all 0.7s;
    padding: 10px;
    grid-template-rows: repeat(auto-fit,1fr);
    gap: 10px;
    width: 400px;
    height: 600px;
    transition: .6s ease transform;
    border: 5px outset #B9B9B9;
    margin-right: 25px;
}

form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

label {
    font-size: 20px;
    margin: 10px;
}

input[type='tel'],input[type='text']{
    outline: none !important;
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 10px;
    border: 4px double #B90000;
}

.status {
    display: grid;
    grid-template-rows: repeat(2,fit-content(400px));
    align-items: center;
}

.statuses{
    font-size: 19px;
}

.submitButton{
    height: 50px;
    width: 40%;
    border-radius: 16px;
    font-size: 1.2em;
    outline: none !important;
    background-color: #B96E6E;
    border: 4px ridge #B90000;
}

.submitButton:hover{
    background-color: #B95454;
}

input[type='radio']{
    height: 20px;
    width: 20px;
    outline: none !important;
    margin: 10px;
}

.buttonSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.newBook{
    display: grid;
    grid-template-rows: repeat(5,20%);
    background-color: #8EA482;
    width: 300px;
}