*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: fit-content(150px) auto;
    gap: 20px;
}

.titleBar{
    justify-self: start;
    margin: 10px;
    padding-left: 10px;
    width: 100%;
    font-size: xx-large;
}

.collection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: repeat(auto-fit,450px);
    gap: 10px;
    align-items: start;
}

.addBook {
    font-size: xx-large;
    justify-self: center;
    align-self: center;
}

.collection > div {
    max-height: 400px;
}
